
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account List</title>
    <%- include ('./partials/head.ejs') %>
</head>

<body>
    <div class='flexbox-item1'>
    <h1>Edit Account</h1>
    <form action="/portfolio/<%=account._id%>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Investment: <input type="text" name="investment" value="<%=account.investment%>" /><br />
        Institution: <input type="text" name="institution" value="<%=account.institution%>" /><br />
        Amount: <input type="text" name="Investment Amount" value="<%=account.amount%>" /><br />
        Completed: <input type="checkbox" name="complete" <% if(account.completed===true){ %> checked <% } %> />
            <br />
            <input type="submit" value="Submit Changes" style='background-color: orange;'/><br>
            <a href="/portfolio">Go Back</a>
    </form>
</div>
</body>

</html>