<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiWallet</title>
    <link rel='stylesheet' type='text/css' href='/public/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<%- include ('./partials/head.ejs') %>

    <body>

        <div class="newButton">
            <form action="/portfolio/new">
                <input type='submit' value="Track a new Investment" style='background-color: orange; color: black;'>
            </form>
        </div>

        <% accounts.forEach(account=> { %>
            <div class='flexbox-item'>
                <a href="<%=/portfolio/+account._id%>">
                    <p>Cick to view Position </p>
                </a>
                <p>Institution: <%= account.institution; %>
                        <p>Investment: <%=account.investment; %>
                        </p>
                        <form action="/portfolio/<%= account.id %>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE"
                                style='background-color: orange; color: rgb(134, 15, 15);' />
                        </form>
                        <a href="/portfolio/<%=account.investment %>/edit">Edit</a>
                        </form>
            </div>
            <% }); %>
    </body>

</html>