<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account List</title>
    <link rel='stylesheet' type='text/css' href='/public/style.css'>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<%- include ('./partials/head.ejs') %>

    <body>

        <div class="newButton">
            <form action="/portfolio/new">
                <input type='submit' value="Track a new Investment">
            </form>
        </div>
        
        <% accounts.forEach(account=> { %>
                
            
            <div class='flexbox-item'>
                    
                    <a href="<%= 'portfolio/'+account.investment %>">
                        <p>Cick to view Position </p>
                    </a>
                        <p>Institution: <%= account.institution; %>
                        <p>Investment: <%=account.investment; %></p>
                        <a href="/portfolio/<%= account._investment %>"></a>
                         <form action="/portfolio/<%= account.investment %>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE" />
                          </form>
                          
                        <a href="/portfolio/<%=account._investment %>/edit">Edit</a>
                    </div>
                    
                    <% }); %>
                </body>
                
</html>